$headerBgColor: #858;
$headerFgColor: #eee;
$headerHoverBgColor: #969;
$headerHoverFgColor: #fff;
$headerSelectedFgColor: #fff;
$headerShadowColor: #333;
$linkColor: #d5a;
$codeColor: #eee;

html {
  line-height: 1.6;
}

body {
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, sans-serif;
}

a {
  color: $linkColor;
  text-decoration: underline;
}

hr.sep {
  display: none;
}

header#page_header, header nav {
  display: block;
  margin: 0;
  padding: 0;
}
header#page_header {
  margin-bottom: 2em;
}
header#page_header h1 {
  display: block;
  margin: 30px 0 0 24px;
  padding: 0;
  @media screen and (max-width:480px) {
    margin: 20px 0 0 4px;
  }
}
header#page_header h1 a {
  display: inline-block;
  background: url(/assets/image/header-togetoge.png) no-repeat left;
  background-size: 100px 100px;
  margin: 0;
  padding: 20px 0 (100px - 20px - 32px) (100px + 12px);
  text-decoration: none;
  font-weight: bold;
  font-size: 32px;
  line-height: 1.0;
  color: #333;
  white-space: nowrap;
  @media screen and (max-width:480px) {
    margin: 0;
    padding: 6px 0 (60px - 6px - 27px) (60px + 4px);
    font-size: 27px;
    background-size: 60px 60px;
  }
}
header#page_header nav ul {
  display: block;
  background-color: $headerBgColor;
  margin: -34px 0 0 0;
  padding: 8px 0 8px (24px + 100px + 8px - 2px - 8px);
  @media screen and (max-width:480px) {
    margin: -20px 0 0 0;
    padding: 8px 0 8px (4px + 60px + 4px - 2px - 8px);
  }
}
header#page_header nav ul li {
  display: inline-block;
}
header#page_header nav ul li a {
  display: inline-block;
  margin: 0 2px;
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
  color: $headerFgColor;
  font-size: 16px;
  line-height: 1.0;
}
header#page_header nav ul li.selected a {
  font-weight: bold;
  text-shadow: 0 0 2px $headerShadowColor;
  color: $headerSelectedFgColor;
}
header#page_header nav ul li a:hover {
  background-color: $headerHoverBgColor;
  color: $headerHoverFgColor;
}

div#main {
  margin: 0 48px;
  @media screen and (max-width:480px) {
    margin: 0 24px;
  }
}

footer#page_footer {
  display: block;
  margin: 3em 0;
  padding: 0;
  text-align: right;
  font-size: 12px;
  line-height: 1.0;
}
footer#page_footer div.lang_menu {
  display: block;
  margin: 0;
  padding: 0;
}
footer#page_footer div.lang_menu ul {
  display: inline-block;
  border-width: 2px 0 2px 2px;
  border-style: solid;
  border-color: $headerBgColor;
  margin: 0;
  padding: 4px 24px 4px 24px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
footer#page_footer div.lang_menu ul li {
  display: inline-block;
  margin: 0 2px;
}
footer#page_footer div.lang_menu ul li a {
  display: inline-block;
  padding: 4px;
  border-radius: 4px;
  text-decoration: none;
  color: $headerBgColor;
}
footer#page_footer div.lang_menu ul li.selected {
  background-color: $headerBgColor;
  border-radius: 4px;
  text-shadow: 0 0 2px $headerShadowColor;
  padding: 4px;
  color: $headerSelectedFgColor;
}
footer#page_footer div.lang_menu ul li a:hover {
  background-color: $headerHoverBgColor;
  color: $headerHoverFgColor;
}
footer#page_footer p {
  display: inline-block;
  margin: 8px 12px;
}

div#main div#intro {
  margin: 1em 0 2em 0;
  border: #888 solid 1px;
  box-shadow: 0 2px 5px #888;
  padding: 0 (200px + 10px) 0 1em;
  background: url(/assets/image/togetoge-007.png) no-repeat right 10px;
  background-size: 200px 200px;
  min-height: (200px + 10px + 10px);
  @media screen and (max-width:660px) {
    padding: 0 1em (200px + 10px) 1em;
    background-position: bottom 10px right 10px;
  }
}

div#main pre {
  background-color: $codeColor;
  padding: .3em;
  overflow: scroll;
  /* word-wrap: break-word; */
}

div#main code {
  background-color: $codeColor;
}

article {
  display: block;
  margin: 0;
  padding: 0;
}

article.excerpt {
  display: block;
  margin: 1em 0 2em 0;
}
article.excerpt h3 {
  margin: 0.3em 0 0 0;
  font-weight: normal;
}
article.excerpt h3 a {
  text-decoration: none;
}
article.excerpt h3 a:hover {
  text-decoration: underline;
}
article.excerpt p {
  margin: 0.3em 0;
}
article.excerpt p.post-date {
  margin: 0;
  font-size: small;
}
article.excerpt p.post-more a {
  color: #888;
}

article.post h2 {
  margin: 1em 0 0 0;
}
article.post p.post-date {
  margin: 0;
  font-size: small;
}
